.description {
    margin-top: 36px;
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 38px;
        margin-left: 64px;
        &-item {
            position: relative;
            font-size: 24px;
        }
        &-img {
            position: absolute;
            top: -18px;
            left: -68px;
        }
    }
}